BASE_TAG=University
OBSIDIAN_VAULT_DIRECTORY=D:\2. Coding\[Markdown] TUM Anki\TUM-Anki
PACKAGE_NAME=TUM-Anki
SUBJECT_TAG_DICTIONARY={"IN0003 - Funktionale Programmierung und Verifikation": "IN0003_FPV", "IN0005 - Grundlagenpraktikum Rechnerarchitektur": "IN0005_GRA", "IN0006 - Einführung in die Softwaretechnik": "IN0006_EIST", "IN0007 - Grundlagen Algorithmen und Datenstrukturen": "IN0007_GAD", "IN0011 - Einführung in die Theoretische Informatik": "IN0011_Theo", "MA0901 - Lineare Algebra": "MA0901_LinAlg"}
SUB_DIRECTORY_TAG_DICTIONARY={"Anki - Lectures": "Lectures", "Anki - Exercises": "Exercises", "Anki - C-Vorkurs": "C-Vorkurs", "Anki - Quizzes": "Quizzes"}
IGNORE_DIRECTORIES=[".git", ".obsidian", "Archive", "templates"]